CompileFlags:
  Add: [-x, c++, -std=c++98, -Wall, -Wextra, -Werror]

Diagnostics:
  UnusedIncludes: Strict
  # MissingIncludes: Strict
  # ClangTidy: {}

InlayHints:
  Enabled: true

Index:
  Background: Build

